@charset "utf-8";

html,body{
  margin: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
// ::-webkit-scrollbar {
// 	width: 8px;
// 	border-radius: 5px;
// }
::-webkit-scrollbar-track {
	border-radius: 5px;
	width: 10px;
	background-color: rgba(128, 128, 128, 0.19);
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1d1d1d;
  position:relative;
  width: 100%;
  height: 100%;
  .header {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #29C08D;
    color: #ffffff;
  }
  .main {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: calc(~"100% - 100px");
    overflow-y: auto;
  }
  .footer {
    @nav-color: rgba(27, 248, 200, 0.61);
    width: 100%;
    height:50px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    background:#ffffff;
    ul {
      width: 100%;
      padding: 0;
      margin: 0;
      border-top:1px solid #1d1d1d11;
      list-style-type: none;
      display: flex;
      justify-content:space-around;
      // background: lighten(@nav-color, -20%);
      li {
        width: 100px;
        height: 50px;
        // font-size: 16px;
        text-align: center;
        color: rgb(150, 147, 147);
        cursor: pointer;
        &.router-link-active {
          color: #1dbf73;
        }
        span {
          display: block;
          margin:3px 0;
        }
      }
    }
  }
 
}


.slide-fade-enter{
	right: 0;
}
.slide-fade-enter-active {
	transition: all 0.5s ease;
}
.slide-fade-leave-active {
	transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active for below version 2.1.8 */ {
	//transform: translateX(10px);
	// right: -100%;
	opacity: 0;
}